@import 'root.css';

.aboutpage{
    background: #f2f2f2 ;
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover; 
    height: 250vh;
  
}
.aboutpage{
    padding: -6px !important;
}