@import './general.css' ;



    .div-Style
    {
        text-align: center;
        margin-top: 80px;

    }
    .techno-title h1 {
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 5px;
        position: relative;
        font-family:Airbnb Cereal App Medium ;
        color: white;
        font-size: 35px;
        text-shadow: 1px 1px 2px black;
      }
      .techno-title h1:before {
        width: 45px;
        height: 7px;
        display: block;
        content: "";
        position: absolute;
        bottom: 2px;
        left: 49.5%;
        margin-left: -14px;
        background-color: white;
      }
      .techno-title h1:after {
        width: 220px;
        height: 1px;
        display: block;
        content: "";
        position: relative;
        margin-top: 25px;
        left: 50%;
        margin-left: -108px;
        background-color: white;
      }  
    
    .description-title-style
    {
        font-family:  'Airbnb Cereal App Book' ;
        color:#595757 !important;

    }
    .h2-Title
    {
        text-decoration:underline #0283b0 ;
        color: white !important;
        text-decoration-thickness: 11px;
    }
    .container-technologies
    {
        display: flex;
        justify-content: center;
        margin-top:60px ;
        margin-right: 30px;
        margin-left: 30px;


    }
 
    .description-technologies
    {
        margin-top: 60px;
        font-family: 'Airbnb Cereal App Medium';
        font-size: 15px;
        color:#2b2b2b ;
        opacity: 80%;
        background-color: #79a3b1;
    }
    ::-webkit-scrollbar {
        display: none;
      }
    /* .services-area {
    margin-bottom: -30px;
    } */
    .serviecs-block .single-serviecs-block {
    margin: 30px 0;
    }
    .single-serviecs-block {
    padding: 30px 40px;
    background-color: rgb(255, 255, 255);
    opacity: 85%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: block;
    height: 320px;
    margin-bottom: 30px;
    }
    
    
    .single-serviecs-block:hover {
    background: #0283b0;
    color: #fff;
    }
    .single-serviecs-block:hover h3 a {
    color: #fff;
    margin-top: 180px;
    }
    /* .single-serviecs-block:hover p {
    display: none;
    } */
    .single-serviecs-block:hover i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    background: #fff;
    color: #0283b0;
    height: 100px;
    width: 100px;
    font-size: 40px;
    line-height: 100px; 
    }
    .single-serviecs-block h3 a {
    color: #333333;
    margin-bottom: 15px;
    margin-top: 80px;
    display: block;
    overflow: hidden;
    transition: 0.5s;
    }
    
    .single-serviecs-block i {
    color: #fff;
    font-size: 50px;
    height: 140px;
    width: 140px;
    line-height: 170px;
    text-align: center;
    background: #0283b0;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.6s;
    }
    .technologie-card-container{
        height: 400px;
        width: 400px;
        background: white;
        border-radius: 30px;
        padding-top: 30px;
        margin: 0px 20px;
        color: var(--text-primary);
    }
    .blue{
        background: var(--gradiant) !important;
    }
    .blue .technologie-card-text-container{
        color: white !important;
    }
    .card-circle-container{
        display: flex;
        justify-content: center;
    }
    .technologie-card-text-container{
        text-align: center;
        margin: 30px;
        font-size: 1.1rem;
    }
    .card-circle{
        height: 180px;
        width: 180px;
        border-radius: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media (max-width:900px)
    {
        .BgContainer
        {
            height: 100% !important;
        }
    }